  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thoughtful Food</a>
        </div>
       <!--  <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div> --><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron row">
      <div class="container col-md-offset-2 col-md-6">
        <h1>Enjoy your meal time</h1>
      </div>
      <div class="container col-md-offset-1 col-md-2">
        <div class="time-delivery-guarantee">
          <p>Have your food delivered by: <%= @delivery_time%> </p>
        </div>
      </div>
      <div class="container col-md-offset-1 col-md-5 intro-paragraph">
        <h2>Quick - Curated - Healthy</h2>
        <p>Your time is valuable.</br>
        That's why we aim to bring you a special</br>
        selection of healthy foods quickly.</br>
        Enjoy what really matters in life.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Explore now &raquo;</a></p>
      </div>

      <div class="container col-md-offset-2 col-md-3 homepage-login">
        <form class="form-signin" role="form">
          <h2 class="form-signin-heading"></h2>
          <input type="email" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" class="form-control" placeholder="Password" required>
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-warning" type="submit">Sign in</button>
          <button class="btn btn-default" type="submit">Log in</button>
          <br \>
          <a class="forgot-password">Forgot your password?</a>

        </form>
      </div>
    </div>
    <div class="container">
      <!-- Create row of pictures manually -->
      <div class="row">
        <div class="col-md-3">
          <%= link_to image_tag(@item[0].photo_path, class: "img-homepage-footer img-rounded" ), {controller: "food_item", action: "show", id: @item[0].id}, {class: "item-name"} %>
          <%= @item[0].price %>
        </div>
        <div class="col-md-3">
          <%= link_to image_tag(@item[1].photo_path, class: "img-homepage-footer img-rounded" ), {controller: "food_item", action: "show", id: @item[1].id}, {class: "item-name"} %>
          <%= @item[1].price %>
       </div>
        <div class="col-md-3">
          <%= link_to image_tag(@item[2].photo_path, class: "img-homepage-footer img-rounded" ), {controller: "food_item", action: "show", id: @item[2].id}, {class: "item-name"} %>
          <%= @item[2].price %>
        </div>
        <div class="col-md-3">
          <%= link_to image_tag(@item[3].photo_path, class: "img-homepage-footer img-rounded" ), {controller: "food_item", action: "show", id: @item[3].id}, {class: "item-name"} %>
          <%= @item[3].price %>
        </div>
      </div>

      <!-- Create row of pictures using Ruby loop -->
      <div class="row">
        <% [@western_item, @asian_item, @adventurous_item].each do |item| %>
          <div class="col-md-4">
            <%= link_to image_tag(item.photo_path, class: "img-homepage-footer img-rounded" ), {controller: "food_item", action: "show", id: item.id}, {class: "item-name"} %>
          </div>
        <% end %>
      </div>

      <footer>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->